.Timer {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  touch-action: pan-y;
}

.Timer.paused {
  color: #505050;
}

.Timer .time {
  flex: 1;
  font-size: 40px;
}

.Timer .label {
  flex: 0;
  font-size: 40px;
}
