.ActiveTimersView {
  display: flex;
  flex-flow: column;
}

.ActiveTimersView .timers {
  color: #fff;
  font-size: 40px;
}

.ActiveTimersView .timers .timer {
  padding: 16px;
}

.ActiveTimersView .add button {
  background: #ff22ff;
  color: #fff;
  font-size: 48px;
  padding: 8px;
  width: 100%;
}
